@charset "UTF-8";

:root {
    --branco: #e5e5e5;
    --preto: #0b0d0c;
    --azul: #056efd;
    --cinza: #1f1f1f;
    --cor-borda: #383838;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
    margin: 0px;

    background-image: url('/imagens/fundo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;/* Faz a imagem cobrir toda a área disponível */
    min-height: 100vh; /* Garante que o corpo tenha no mínimo a altura da tela */
    overflow-x: hidden;
}
/*--------------------------PÁGINA PRINCPAL----------------------------*/
h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--cor-borda);

    width: 95%;
    max-width: 900px;
    padding: 1em;
    margin: auto;

    background-color: var(--cinza);   
}

header h1 {
    font-size: 1.1em;
    width: 30em;
}

header nav {
    display: flex;
    gap: 10px;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding: 5px;
}

a:hover {
    color: var(--azul);
    font-weight: bold;
    background-color: #1a1a1a;
    box-shadow: 1px 1px 2px var(--azul);
    transition-duration: 0.4s;

    border-radius: 10px;
}

main{
    width: 95%;
    max-width: 900px;
    min-height: calc(100vh - 96px);
    margin: auto;
    padding: 16px;
    border: 1px solid var(--cor-borda);

    background-color: var(--preto);
}

#apresentacao {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 40vh;
    padding: 20px 30px;
    gap: 1em;
    background-color: var(--cinza);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid var(--cor-borda);
}

.bio-textos {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

#fotop {
    background-image: url('imagens/foto-minha.jpeg');
    background-size: cover;
    background-position: center;

    width: 100%; /* Tenta ocupar o espaço disponível */
    max-width: 300px; /* Mas não passa de 300px */

    height: 100%; /* Tenta ocupar o espaço disponível */
    max-height: 300px; /* Mas não passa de 300px */

    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

#competencias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cinza);
    border-radius: 0px 0px 5px 5px;
    padding: 20px 30px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1em;
}

.card {
    background-color: #1a1919;
    border: 1px solid var(--cor-borda);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 10px;
    flex: 1;
    max-width: 250px;
}

.card:hover {
    box-shadow: 3px 1px 10px #056cfdcc;
    transition-duration: 0.5s;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 1px auto;

    width: 100%; /* Tenta ocupar o espaço disponível */
    max-width: 20em; /* Mas não passa de 20em */
}

.botoes a {
    padding: 8px;
    background-color: var(--azul);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;

    width: 100%; /* Tenta ocupar o espaço disponível */
    max-width: 10em; /* Mas não passa de 10em */

    height: 100%; /* Tenta ocupar o espaço disponível */
    max-height: 1em; /* Mas não passa de 1em */
}

.botoes a:hover {
    background-image: linear-gradient(to right, #0a64e2, #1273fa, #2571d4, #4491fc);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
/*-------------------- SOBRE MIM ----------------------*/

.secao-s {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cinza);
    padding: 20px 30px;
}

table {
    background-color: #141414;
    text-align: center;
    border-radius: 5px;
}

th, td {
    border: 1px solid black;
    padding: 12px;
}

.lista {
    margin: 0em 2em;
}

.lista ul {
    margin: 0em 2em;
}

/*-------------------- CONTATO ----------------------*/

#cheader {
    width: 95%;
    max-width: 900px;
    padding: 17px;
    margin: auto;
}

#cform {
    display: flex;
    flex-direction: column; /* Alinha tudo em coluna (um embaixo do outro) */
    max-width: 900px;
    padding: 17px;
}

#cform input, #cform textarea, #cform button {
    background-color: var(--branco);
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--branco);
    width: 100%;
    box-sizing: border-box; /* Evita sair da caixa do form */
    margin: 20px 0px;
}

form {
    background-color: var(--cinza);
    padding: 10px;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

#cform button {
    background-color: var(--azul);
    border: 1px solid black;
}

#cform button:hover {
    background-color: rgb(59, 59, 206);
}

#redes {
    border: 1px solid blue;
    width: 95%;
    max-width: 900px;
    padding: 17px;
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 15px;
}